html {
    line-height: 1.5;
    font-weight: normal;
    width: 50%;
    margin: auto;
    color: white;
    background-color: #454545;
    font-family: 'Muli',sans-serif;;
}
a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white; }

.header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    place-items: center;
    grid-template-areas: 'myArea myArea myArea';
}
li {
    display: inline;
}
.title {
    grid-area: myArea;
    text-align: center;
    font-size: 2.75em;
}
.nav {
    text-align: center;
}
.nav-content {
    text-align: center;
}
.nav-icons {
    text-align: center;
    font-size: 1.75em;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheader {
    font-size: 1.5em;
    background-color: #383838;
}
.prefooter {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: space-evenly;

}
.socials {
    text-align: center;
}