html {
    line-height: 1.5;
    font-weight: normal;
    color: white;
    background-color: black;
}
.title {
    font-size: 3em;
    text-align: center;
}
.socials {
    text-align: center;
}
.header {
    font-size: 1.5em;
}