html {
    line-height: 1.5;
    font-weight: normal;
    width: clamp(390px, 100%, 844px);
    margin: auto;
    color: white;
    background-color: #121212;
    font-family: 'Muli',sans-serif;
    
}
head {
    background-color: #121212;
}
body {
    background-color: #121212;
}
a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white; }

.header {
    display: flex;
    flex-direction: row;
    place-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
li {
    display: inline;
}
p {
    font-size: 1.1rem;
    padding: 30px;
}
.title {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-weight: 700;
    font-size: 18px;   
}
.nav {
    text-align: center;
}
.nav-content {
    display: flex;
    flex: 1 1 0%;
    max-width: 34rem;
    font-size: 18px;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}
.nav-icons {
    text-align: center;
    font-size: clamp(1.3rem, 5vw, 1.7rem);
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text {
    padding: 18px;
}
.subheader {
    font-size: 18px;
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: row;
    place-items: center;
}
.img {
    width: 142px;
    height: 142px;
    min-width: 142px;
    border-radius: 50%;
}
.socials {
    text-align: center;
}