html {
  font-family: Roboto, Arial;
  background-color: #252529;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-weight: 400;
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.body-div {
  max-width: 600px;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 27px;
}

h2 {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  font-family: Roboto, Arial;
  color: #9b9b9b;
  margin-top: 10px;
}

.about-me {
  color: #9b9b9b;
  margin-bottom: 30px;
}

.footer {
  margin-top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}